<!--
=========================================================
* Soft UI Design System - v1.0.9
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/img/apple-icon.png" %}">
  <link rel="icon" type="image/png" href="{% static "assets/img/favicon.png" %}">
  <title>
    Recognition Corner
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{% static "assets/css/nucleo-icons.css" %}" rel="stylesheet" />
  <link href="{% static "assets/css/nucleo-svg.css" %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static "assets/css/nucleo-svg.css" %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static "assets/css/soft-design-system.css" %}" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="forms">
  <!-- Navbar Edited -->
  <!-- Navbar Edited -->
  <div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
    <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
      <div class="container-fluid px-0">
        <a class="navbar-brand font-weight-bolder ms-sm-3">
          RECOGNITION CORNER
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-2">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
          <ul class="navbar-nav navbar-nav-hover w-100">
  
            <li class="nav-item mx-2 ms-lg-auto">
              <a href="location.href="{% url "landing" %}"" target="_blank" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
                Home
              </a>
            </li>

            <li class="nav-item mx-2 ms-lg-auto">
              <a href="<a href="location.href="{% url "landing" %}""" target="_blank" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" >
                Events and Activities
              </a>
            </li>
  
            <li class="nav-item mx-2 ms-lg-auto">
              <a href="location.href="{% url "forms" %}"" target="_blank" class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
                Forms
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  </div></div></div>

<!-- START BODY FOR FORMS -->
<section>
    <div class="page-header-alt min-vh-100">
        <div class="card card-body mx-4">
            <div class="card-header  text-left">
              <h4 class="font-weight-bolder">Awards Emerut</h4>
            </div>
            <div class="container">
                <!-- START CONTENT BODY FOR FORMS -->
                <!-- END CONTENT BODY FOR FORMS -->
            </div>
    </div>
  </section>
<!-- END BODY FOR FORMS -->

    <!-- -------- START FOOTER 5 w/ DARK BACKGROUND ------- -->
    <footer class="footer py-4 bg-gradient-dark overflow-hidden position-relative">
        <div class="container">
            <img src="../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-0 w-100">
          <div class="row">
            <div class="my-2 text-lg-end text-center">
                <p class="mb-1 text-lg text-white font-weight-bold opacity-8">
                    CONNECT WITH US
                  </p>
            </div>
            <div class="mb-0 text-lg-end text-center text-white font-weight-bold opacity-8">
              <a href="https://www.facebook.com/CultureandArtsBatStateU" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-facebook-f fab-alt"></span>
              </a>
              <a href="mailto:cultureandarts.central@g.batstate-u.edu.ph" target="_blank" class="text-secondary">
                <span class="text-lg fab fa-google fab-alt"></span>
              </a>
              <p class="text-secondary text-white opacity-8 mt-2">
               Office of Culture and Arts - Central Office ©
               <script>
                document.write(new Date().getFullYear())
              </script> 
              </p>
            </div>
          </div>
        </div>
      </footer>
    <!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
  
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
  <script src="../assets/js/plugins/countup.min.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="../assets/js/plugins/parallax.min.js"></script>
  <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="../assets/js/soft-design-system.min.js?v=1.0.9" type="text/javascript"></script>
  <script>
    // get the element to animate
    var element = document.getElementById('count-stats');
    var elementHeight = element.clientHeight;

    // listen for scroll event and call animate function

    document.addEventListener('scroll', animate);

    // check if element is in view
    function inView() {
      // get window height
      var windowHeight = window.innerHeight;
      // get number of pixels that the document is scrolled
      var scrollY = window.scrollY || window.pageYOffset;
      // get current scroll position (distance from the top of the page to the bottom of the current viewport)
      var scrollPosition = scrollY + windowHeight;
      // get element position (distance from the top of the page to the bottom of the element)
      var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

      // is scroll position greater than element position? (is element in view?)
      if (scrollPosition > elementPosition) {
        return true;
      }

      return false;
    }

    var animateComplete = true;
    // animate element when it is in view
    function animate() {

      // is element in view?
      if (inView()) {
        if (animateComplete) {
          if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
              countUp.start();
            } else {
              console.error(countUp.error);
            }
          }
          if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
              countUp1.start();
            } else {
              console.error(countUp1.error);
            }
          }
          if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
              countUp2.start();
            } else {
              console.error(countUp2.error);
            };
          }
          animateComplete = false;
        }
      }
    }

    if (document.getElementById('typed')) {
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 90,
        backSpeed: 90,
        backDelay: 200,
        startDelay: 500,
        loop: true
      });
    }
  </script>
  <script>
    if (document.getElementsByClassName('page-header-alt')) {
      window.addEventListener('scroll', function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header-alt');
        var limit = bgParallax.offsetTop + bgParallax.offsetHeight;
        if (scrollPosition > bgParallax.offsetTop && scrollPosition <= limit) {
          bgParallax.style.backgroundPositionY = (50 - 10 * scrollPosition / limit * 3) + '%';
        } else {
          bgParallax.style.backgroundPositionY = '50%';
        }
      });
    }
  </script>
</body>

</html>